<%- include('layouts/header') %>
<<<<<<< HEAD

<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr class="table-dark">
                            <th>ID</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user, index) => { %>
                        <tr>
                            <td><%= ++index %></td>
                            <td><img src="/<%= user.image %>" width="50" class="img-thumbnail"></td>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.phone %></td>
                            <td>
                                <a href="/edit/<%= user._id %>"><i class="fa fa-edit fa-lg"></i></a>
                                <a href="/delete/<%= user._id %>"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
=======
<div class="container my-5">
  <h1>Inventario de Productos</h1>
  <a href="/add" class="btn btn-success mb-3">Agregar Producto</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Imagen</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>
          <img
            src="/upload/<%= product.image %>"
            alt="Producto"
            style="width: 100px"
          />
        </td>
        <td><%= product.quantity %></td>
        <td>$<%= product.price.toFixed(2) %></td>
        <td>
          <form
            action="/delete/<%= product._id %>"
            method="post"
            style="display: inline"
          >
            <button type="submit" class="btn btn-danger btn-sm">
              Eliminar
            </button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
>>>>>>> dd9d117985b26e618e38928d2878d258a5bf93b7
</div>
<%- include('layouts/footer') %>
